{% extends "IPUserBundle::layout.html.twig" %}


{% block content %}

    <div class="jumbotron">
        <h1>Hello {{ name }}!</h1>

        <p><a href="#" class="btn btn-primary">Boutonne moi !</a></p>
    </div>

{% endblock %}
